NEXT_PUBLIC_SOLANA_NETWORK=devnet
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_PROGRAM_ID=G8NhvwpScAqrX3wtc5jhGbPJYxGJh9eoeDBtLtxAxAqD
NEXT_PUBLIC_API_URL=http://localhost:3001/api
